
body {
    background-color: rgb(0, 162, 249);
    padding: 0;
    margin: 0;
}

:root {
    --CORNER_HEXAGON: 5.5;
    --SQRT3: 1.732;
    --WIDTH_HEXAGON: calc((var(--CORNER_HEXAGON) * var(--SQRT3)) * 1%);
    --HEIGHT_HEXAGON: calc((var(--CORNER_HEXAGON) * 2) * 1%);

    --WIDTH_SQUARE: calc((var(--CORNER_HEXAGON) / 2) * 1%);
    --HEIGHT_SQUARE: calc((var(--CORNER_HEXAGON) / 2) * 1%) ;

    --HEIGHT_NUM: calc((var(--CORNER_HEXAGON) / 3) * 1%);
    --WIDTH_NUM: calc((var(--CORNER_HEXAGON) / 3) * 1%);

    --WIDTH_LAMBUR_BLOCK: calc((var(--CORNER_HEXAGON) / 8) * 1%);
    --HEIGHT_LAMBUR_BLOCK: calc((var(--CORNER_HEXAGON) / 3) * 1%);

    --WIDTH_LAMBUR_LEAF: calc((var(--CORNER_HEXAGON) / 2) * 1%);
    --HEIGHT_LAMBUR_LEAF: calc((var(--CORNER_HEXAGON) / 2) * 1%) ;

    --WIDTH_BRICK: calc((var(--CORNER_HEXAGON) / 3) * 1%);
    --HEIGHT_BRICK: calc((var(--CORNER_HEXAGON) / 4) * 1%);

    --WIDTH_BODY_WOOL: calc(2 * (var(--CORNER_HEXAGON) / 3) * 1%);
    --HEIGHT_BODY_WOOL: calc((var(--CORNER_HEXAGON) / 6) * 1%);

    --WIDTH_TAIL_WOOL: calc((var(--CORNER_HEXAGON) / 6) * 1%);
    --HEIGHT_TAIL_WOOL: calc((var(--CORNER_HEXAGON) / 5) * 1%);

    --WIDTH_HEAD_WOOL: calc((var(--CORNER_HEXAGON) / 3) * 1%);
    --HEIGHT_HEAD_WOOL: calc((var(--CORNER_HEXAGON) / 3) * 1%);

    --WIDTH_EYE_WOOL: calc((var(--CORNER_HEXAGON) / 15) * 1%);
    --HEIGHT_EYE_WOOL: calc((var(--CORNER_HEXAGON) / 15) * 1%);

    --WIDTH_MOUTH_WOOL: calc((var(--CORNER_HEXAGON) / 6) * 1%);
    --HEIGHT_MOUTH_WOOL: calc((var(--CORNER_HEXAGON) / 40) * 1%);

    --WIDTH_LEG_WOOL: calc((var(--CORNER_HEXAGON) / 10) * 1%);
    --HEIGHT_LEG_WOOL: calc((var(--CORNER_HEXAGON) / 4) * 1%);

    --WIDTH_GRAIN: calc((var(--CORNER_HEXAGON) / 5) * 1%);
    --HEIGHT_GRAIN: calc(2 * (var(--CORNER_HEXAGON) / 3) * 1%);
    
    --WIDTH_ORE: calc((var(--CORNER_HEXAGON) / 2) * 1%);
    --HEIGHT_ORE: calc((var(--CORNER_HEXAGON) / 2) * 1%);

    --WOOL_BODY_AND_LEG_COLOR: rgb(133, 133, 133);
  }
  

.hexagon {
    position: absolute;
    width: var(--WIDTH_HEXAGON);
    height: var(--HEIGHT_HEXAGON);
    clip-path: polygon(0% 25%,
                  50% 0%,
                  100% 25%,
                 100% 25%,
                  100% 75%,
                  50% 100%,
                   0% 75%);
}


.square {
    position: absolute;
    height: var(--HEIGHT_SQUARE);
    width: var(--WIDTH_SQUARE);
    background-color: burlywood;
    z-index: 1;
}

.num {
    position: absolute;
    width: var(--WIDTH_NUM);
    height: var(--HEIGHT_NUM);
    z-index: 2;
    font-size: calc((var(--CORNER_HEXAGON) / 3) * 1vb);
}

.special_num {
    color: rgb(227, 2, 2);
}

.bottom_of_lumber {
    position: absolute;
    width: var(--WIDTH_LAMBUR_BLOCK);
    height: var(--HEIGHT_LAMBUR_BLOCK);
    z-index: 1;
    background-color: brown;
}

.lumber_leaf {
    position: absolute;
    background-color: rgb(0, 53, 34);
    width: var(--WIDTH_LAMBUR_LEAF);
    height: var(--HEIGHT_LAMBUR_LEAF);
    clip-path: polygon(0% 100%, 50% 0, 100% 100%);
    z-index: 2;
}

.brick {
    position: absolute;
    background-color: rgb(142, 61, 23);
    width: var(--WIDTH_BRICK);
    height: var(--HEIGHT_BRICK);
    z-index: 2;
}

.wool_body {
    position: absolute;
    background-color: var(--WOOL_BODY_AND_LEG_COLOR);
    width: var(--WIDTH_BODY_WOOL);
    height: var(--HEIGHT_BODY_WOOL);
    z-index:2;
}

.wool_tail {
    position: absolute;
    background-color: azure;
    width: var(--WIDTH_TAIL_WOOL);
    height: var(--HEIGHT_TAIL_WOOL);
    border-radius: 50%;
    z-index: 2;
}


.wool_head {
    position: absolute;
    width: var(--WIDTH_HEAD_WOOL);
    height: var(--HEIGHT_HEAD_WOOL);
    border-radius: 50%;
    background-color: rgb(210, 210, 210);
    z-index: 3;
}

.wool_eye {
    position: absolute;
    width: var(--WIDTH_EYE_WOOL);
    height: var(--HEIGHT_EYE_WOOL);
    border-radius: 50%;
    background-color: rgb(1, 217, 255);
    z-index: 3;
}

.wool_mouth {
    position: absolute;
    width: var(--WIDTH_MOUTH_WOOL);
    height: var(--HEIGHT_MOUTH_WOOL);
    background-color: rgb(119, 119, 119);
    z-index: 3;
}

.wool_leg {
    position: absolute;
    width: var(--WIDTH_LEG_WOOL);
    height: var(--HEIGHT_LEG_WOOL);
    background-color: var(--WOOL_BODY_AND_LEG_COLOR);
    z-index: 2;
}

.grain_1{
    position: absolute;
    width: var(--WIDTH_GRAIN);
    height: var(--HEIGHT_GRAIN);
    background-color: gold;
    clip-path: polygon(
    50% 100%,
    0% 20%,
    50% 0%,
    100% 100%
  );
  z-index: 2;
}
.grain_2 {
    position: absolute;
    width: var(--WIDTH_GRAIN);
    height: var(--HEIGHT_GRAIN);
    background-color: gold;
    clip-path: polygon(
    50% 100%,
    80% 0%,
    100% 20%,
    100% 50%
  );
  z-index: 2;
}

.ore {
    position: absolute;
    width: var(--WIDTH_ORE);
    height: var(--HEIGHT_ORE);
    background-color: rgb(126, 126, 116);
    clip-path: polygon(30% 100%, 0% 66%, 0% 33%, 33% 0%, 66% 0%, 100% 33%, 100% 66%, 66% 100%);
    z-index: 2;
}

.water_color {
    background-color: rgb(0, 94, 255);
}

.brick_color {
    background-color: rgb(238, 85, 14);
}

.lumber_color {
    background-color: green;
}

.wool_color {
    background-color: rgb(128, 213, 0);
}

.desert_color {
    background-color: burlywood;
}

.grain_color {
    background-color: rgb(250, 238, 0);
}

.ore_color {
    background-color: rgb(225, 224, 224);
}

